.home_container{
    height: 100vh;
    display:flex;
    flex-direction:column;
    align-items:center;
    justify-content:space-between;
    background-color: rgba(13, 160, 240, 0.92);
    color:white;
  
  }
  .home_navbar{
    display:flex;
    flex-direction:row;
    align-items:center;
    justify-content:space-around;
    width:100%;
    padding: 0.5rem;
    background-color: black;
  }
  .home_navbar_logo{
    font-size: 2rem;
    font-weight: 700;
    color: #fff;
    cursor:pointer;
  }
  .home_navbar_nav{
    display:flex;
    flex-direction:row;
    align-items:center;
    justify-content:space-around;
    width:30%;
    list-style: none;
  }